:root {
    --primary: linear-gradient(45deg, rgb(6, 12, 31), rgb(11, 22, 54));
    --secondary: #BE3144;
    --secondary-dark: #872341;
    --accent: #d9d9d926;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    background: var(--primary);
    min-height: 100vh;
    color: white;
    --sidebar-width: 250px;
}

body:has(.main-content) {
    padding-left: var(--sidebar-width);
}

.button {
    background: var(--secondary);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background: var(--secondary-dark);
}

/* Main Content */
.main-content {
    padding: 20px;
}

/* Right Sidebar */
.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    /* Full height */
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, var(--secondary-dark), var(--secondary));
    color: white;
    --sidebar-padding: 20px;
    padding: var(--sidebar-padding);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

/* Sidebar links */
.sidebar ul {
    list-style: none;
}


.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 18px;
}

.sidebar a:hover {
    background-color: var(--accent);
    text-decoration: none;
}

/* Sidebar icons */
.sidebar a img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    vertical-align: middle;
}

/* Sidebar title */
.sidebar h1 img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    vertical-align: middle;
}

.sidebar h1 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 29px;
}

.sidebar-bottom {
    position: absolute;
    bottom: 0;
    width: calc(100% - var(--sidebar-padding) * 2);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

header>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .profile img {
    width: 40px;
    height: 40px;
}

header .profile h1 {
    font-size: 24px;
}

header .admin-toggle-btn {
    background: none;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}

header .logout-btn {
    padding: 5px;
    border-radius: 50%;
}

header .logout-btn img {
    width: 25px;
    vertical-align: middle;
}

header .hover-accent:hover {
    background: var(--accent);
    cursor: pointer;
}


/* Welcome */
.welcome-container,
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-container h1 {
    font-size: 72px;
}

.welcome-container h3 {
    font-size: 28px;
    margin-bottom: -12px;
}

.welcome-container .auth-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
}


/* Auth */

.auth-back {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.back-btn {
    display: flex;
    align-items: center;
    color: inherit;
    background: inherit;
    gap: 10px;
    max-width: max-content;
    border: none;
    cursor: pointer;
}

.auth-back img,
.back-btn img {
    width: 30px;
}

form {
    width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--accent);
}

label {
    display: block;
    margin-left: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 20px;
}

input[type="submit"] {
    width: 100%;
    margin-top: 48px;
}


/* Forum */
.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    column-gap: 4px;
    row-gap: 10px;
}

.tags a {
    padding: 8px 12px;
    margin: 0 2px;
    text-decoration: none;
    color: inherit;
    background: var(--secondary);
    border-radius: 20px;
    padding: 8px 12px;
    text-transform: capitalize;
}

.tags a:hover {
    background: var(--secondary-dark);
}

.post {
    display: block;
    text-decoration: none;
    color: inherit;
    position: relative;
    background: var(--accent);
    border-radius: 20px;
    --post-padding: 20px;
    padding: var(--post-padding);
    margin: 20px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.post:not(.full-view):hover {
    opacity: 0.9;
}

.post.full-view {
    padding: 20px 50px;
}

.post h2 {
    font-size: 24px;
    margin: 10px 0 20px;
}

.post h2 a {
    text-decoration: none;
    color: inherit;
}

.post h2 a:hover {
    text-decoration: underline;
}

.post:not(.full-view) h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.post img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}

.post.full-view>img {
    width: 100%;
    height: auto;
    margin: 30px 0;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    height: max-content;
    font-size: larger;
}

.author img {
    width: 24px;
    height: 24px;
    opacity: 0.5;
    margin: 0;
}

.post .description,
.comment .description {
    white-space: pre-wrap;
}

.post:not(.full-view) .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.post .tags {
    justify-content: flex-end;
}

.post:not(.full-view) .tags {
    margin: 0;
    position: absolute;
    bottom: var(--post-padding);
    right: var(--post-padding);
}

.post:not(.full-view) p {
    margin: 10px 20px;
}

/* Comments */
.comments {
    margin: 50px 0;
}

.comments-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.comment {
    position: relative;
    display: flex;
    background: var(--accent);
    border-radius: 20px;
    padding: 30px 20px;
    margin: 10px 0;
}

.comment .comment-time {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 14px;
}
.comment .author {
    min-width: 200px;
}


/* Notes */
.lecture_materials-list {
    list-style: none;
    margin: 20px 0;
}

.lecture_materials-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--accent);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 0;
}

.lecture_materials-list li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.lecture_materials-list li div {
    color: var(--secondary);
    padding-block: 8px;
}

.lecture_materials-list li div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.white-box {
    width: 250px;
    height: 300px;
    background: var(--accent);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: top;
    justify-content: top;
    text-align: top;
}

/* Tutorials */
.tutorial-wrapper {
    position: relative;
    display: inline-block;
    width: min-content;
    height: 150px;
}

.tutorial-remove {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--secondary-dark), var(--secondary));
    color: inherit;
    text-decoration: none;
    font-size: large;
    width: 100%;
    height: 0%;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.tutorial-wrapper:hover .tutorial-remove {
    opacity: 0.9;
    height: 100%;
}

button.more {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    width: 30px;
    height: 30px;
}

button.more .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
    background: var(--primary);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

button.more .menu li {
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: left;
    font-size: small;
}

button.more .menu li:hover {
    background: var(--accent);
}

button.more:focus .menu {
    display: block;
}


/* Toast */
.toast {
    position: fixed;
    top: 20px;
    opacity: 0;
    right: 20px;
    min-width: 250px;
    padding: 1rem;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#toast-message {
    flex-grow: 1;
}

#toast-close {
    color: white;
    background: none;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 1rem;
}

#toast-close:hover {
    opacity: 0.7;
}

.toast.error {
    background: var(--secondary);
}

.toast.success {
    background: #2E7D32;
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: scroll;
    padding: 20px;
}

/* Popup */
.popup form {
    position: relative;
    background: var(--primary);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    animation: slideIn 0.3s forwards ease-in-out;
}

.popup form h2 {
    margin-bottom: 24px;
}

.popup .close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.popup .close-btn:hover {
    background: rgba(0, 0, 0, 0.3);
}

.popup .closed {
    animation: slideOut 0.3s forwards ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }

}

/* Image Uploader */
.image-uploader {
    display: flex;
    position: relative;
    border: 5px solid transparent;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px auto;
}

.image-uploader img {
    width: 100%;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.image-uploader.dragover {
    border: 5px dashed var(--secondary);
}

.image-uploader.dragover img {
    opacity: 0.5;
}

.image-uploader input {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-dark);
}

::-webkit-scrollbar-track {
    background: var(--primary);
}